<div class="container mt-5">

  <!-- search bar -->
  <!-- search bar -->
  <div class="container search-bar">
    <div class="search-bar-outer mb-5">
      <div class="search-bar-inner">
        <form action="/restaurants/search">
          <div class="row">
            <div class="col-md-8">
              <h4 class="mb-2">尋找餐廳：</h4>
              <div class="input-group">
                <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類"
                  aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
                <div class="input-group-append">
                  <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>


            <div class="search-bar-inner col-md-4 d-flex">
              <div class="input-group align-items-end">
                <select class="form-control" name="sortOption" id="sortOption" onchange="submit()">
                  <option value="">排序</option>
                  {{!-- 從sort data列出資料 --}}
                  {{#each sortData}}
                  {{!-- isEqual是在handlebarHelpers.js自定義的function,檢測是否相等 a===b --}}
                  <option value="{{this.value}}" {{#isEqual this.value}} selected {{/isEqual}}>
                    {{this.option}}</option>
                  {{/each}}
                </select>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
    </>
    <div class="d-flex justify-content-center">
      <h3><i class="fas fa-exclamation-circle" style="color: red;"></i>找不到您要的結果!</h3>
    </div>

  </div>